<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Atoll needs screen recording permission to capture screenshots for the AI assistant feature.</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/nikitaSobolev2/Dynamic-Island/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>s2IhIl7jraXn9GBL7CQ2fnsIhl8k6aLwjC0ZIaTaVb4=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
